body {
    width: 380px; margin: 50% auto;
    background-image: url("Resource/task1.png");
}
a {
    font-size: small;
    margin: auto 70px;
}
h1{
    color: green;
}
h2{
    color:darkolivegreen;
}